@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1640px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* index-page */
/* header */

.ul-box a {
    font-size: 24px;
    color: black;
}

.ul-box ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

.join-box {
    padding: 3px 25px;
    text-align: center;
    background: #F4F4F4;
    border-radius: 30px;
}

.join-box:hover {
    background: rgba(8, 125, 191, 1);
}

/* section1 */

.sing-up-page-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.welcome-left-content h1{
    margin-top: 148px;
    font-size: 70px;
    max-width: 700px;
    color: rgba(8, 125, 191, 1);
}

.get-started-box-container {
    display: flex;
    gap: 274px;
    margin-top: 3%;
}

.get-started-box {
    font-size: 24px;
}

.get-started-box h3 {
    font-size: 40px;
}

.get-started-box p {
    padding-top: 20px;
    max-width: 250px;
    line-height: 36px;
}

.get-started-box a {
    line-height: 60px;
    text-decoration:underline;
    color: rgba(8, 125, 191, 1);
}

.welcome-right-content {
    margin-top: 109px;
    max-width: 586;
}

.welcome-right-content img {
    width: 100%;
    height: 100%;
}

/*welcome  footer */

.welcome-footer {
    margin-top: 6%;
    width: 100%;
    background-color: black;
}

.footer-box {
    height: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left-box {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}

.footer-left-box a {
    color: rgba(255, 255, 255, 1);
}

.page-terms {
    display: flex;
    gap: 8px;
}

.page-terms a{
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.footer-ul-box ul {
    display: flex;
    gap: 20px;
}

/* mein-page */
/* header */

header {
    width: 100%;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 126px;
}

.header-icons {
    width: 20px;
    height: 20px;
}

.header-icons img {
    width: 100%;
    height: 100%;
}

.left-contant {
    display: flex;
    gap: 30px;
}

.left-contant h2 {
    font-size: 40px;
    color: black;
}

.right-content {
    display: flex;
    gap: 20px;
}

/* section1 */

.input-section-style {
    margin-top: 50px;
}

.input-box-left {
    position: relative;
    max-width: 100%;
    height: 87px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 62px;
}

.left-search-content img {
    position: absolute;
    width: 24px;
    height: 23.62px;
    left: 30px;
    top: 29.67px;
}

.input-left-content {
    max-height: 87px;
}

.form-content {
    position: absolute;
    left: 74px;
    top: 25px;
}

.form-content input {
    max-width: 500px;
    height: 40px;
    border: none;
    outline: none;
}

.form-content input::placeholder {
    font-size: 32px;
}

.sliders-horizontal {
    position: absolute;
    top: 31px;
    left: 1011px;
}

/* about hover-box-model */

.hover-box-model {
    position: relative;
    display: inline-block;
    margin: 107px 30px;
    max-width: 1012px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 20px;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s 2s linear;
}

.category-tabs:hover {
    background-color: #087DBF;
}

.sliders-horizontal:hover + .hover-box-model {
    opacity: 1;
    max-height: 557px;
    z-index: 10;
}

.hover-box-model h4 {
    padding-top: 20px;
    font-size: 24px;
}

.category-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.category-tabs {
    font-size: 20px;
    padding: 11px;
    height: 45px;
    border: 1px solid #087DBF;
    border-radius: 10px;
}

.price-Range-line {
    position: relative;
    max-width: 812px;
    height: 14px;
    margin: 20px 80px;
    background: #D9D9D9;
    border-radius: 13px;
}

.blue-line {
    position: absolute;
    left: 229px;
    width: 354px;
    height: 14px;
    background: #087DBF;
    border-radius: 13px;
}

.right-circle-on-price-Range {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 209px;
    top: -8px;
    border-radius: 50%;
    border: 5px solid #087DBF;
    background-color: #D9D9D9;
}

.left-circle-on-price-Range {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 213px;
    top: -8px;
    border-radius: 50%;
    border: 5px solid #087DBF;
    background-color: #D9D9D9;
}

.prices {
    position: absolute;
    display: flex;
    gap: 339px;
    margin: 30px 212px;
    font-size: 14px;
}

.ratings-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.ratings-box {
    display: flex;
    gap: 20px;
}

.rating-tabs {
    display: flex;
    gap: 9px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #087DBF;
    border-radius: 21.5px;
}

.location-box {
    display: flex;
    gap: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.location-tabs {
    padding: 6px 25px;
    border: 1px solid #087DBF;
    border-radius: 10px;
}

.hover-box-model-bottom-settings {
    display: flex;
    gap: 39px;
    justify-content: flex-end;
    margin-right: 36px;
}

.filter {
    margin-top: -6px;
    padding: 8px 19px;
    border: 1px solid #087DBF;
    border-radius: 10px;
}

/* ------ */

.middle-content {
    position: absolute;
    display: flex;
    left: 1125px;
    top: 25px;
}

.middle-content h3 {
    font-size: 32px;
}

.new-info-arrow {
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
}

.middle-content h3::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 87px;
    top: -26px;
    left: -32px;
    background-color: black;
}

/* about-middle-content-hover-box */

.middle-content-hover-box {
    max-width: 394px;
    margin-top: 60px;
    margin-left: -30%;
    transform: translateX(-3%);
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 25px 25px;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s 0.5s linear;
    
}

.hover-mini-box-rows:hover {
    background-color: rgba(8, 125, 191, 1);
}

.new-info-arrow:hover + .middle-content-hover-box {
    opacity: 1;
    height: 256px;
    max-width: 392px;
    z-index: 1;
}

.hover-mini-box-rows {
    height: calc(100% / 3);
}

.hover-mini-box-rows img {
    padding-top: 25px;
    padding-left: 20px;
}

.hover-rows {
    padding-left: 20px;
    padding-top: 16px;
    display: inline-block;
}

.hover-rows p {
    font-weight: bold;
}

.hover-rows span {
    display: inline-block;
    padding-top: 10px;
    font-size: 13px;
    color: rgba(146, 146, 146, 1);
}

.hover-mini-box-rows::after {
    content: "";
    display: inline-block;
    position: relative;
    width: 394px;
    height: 1px;
    top: 16px;
    background-color: black; 
}

.middle-content-hover-box .hover-mini-box-rows:last-child::after {
    content: "";
    display: none;
}

/* ------- */

.input-right-content {
    position: absolute;
    left: 1520px;
    top: 29px;
    width: 30px;
    height: 30px;
}

.input-right-content img {
    width: 100%;
    height: 100%;
}

.input-right-content::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 87px;
    top: -30px;
    left: -36px;
    background-color: black;
}

/* section2 */

.business-box-section {
    margin-top: 50px;
    height: 1700px;
}

.business-box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    width: 100%;
}

.box-row {
    max-width: 392px;
    border: 1px solid #000000;
    border-radius: 30px;
}

.box-row > a {
    color: black;
}

.main-people-img {
    position: relative;
    padding: 15px 27px;
}

.follow-click img{
    position: absolute;
    top: 35px;
    right: 45px;
}

.about-business {
    display: flex;
    gap: 78px;
    margin-left: 54px;
    font-size: 14px;
}

.about-business-left-title h6 {
    font-size: 14px;
    font-weight: bold;
}

.about-business-left-title p {
    padding-top: 5px;
    font-weight: bold;
}

.address {
    display: flex;
    gap: 5px;
    font-size: 14px;
    align-items: center;
}

.address p {
    font-size: 10px;
}

.address span {
    padding-top: 7px;
}

.value {
    display: flex;
    gap: 5px;
}

.person-stars {
    display: flex;
    gap: 5px;
    padding-top: 4px;
    padding-left: 25px;
}

.person-stars p {
    padding-top: 6px;
    font-size: 16px;
}

.about-business-right-title span {
    font-weight: bold;
}

.about-business-right-title p {
    font-size: 15px;
}

.contact-massage-box {
    display: flex;
    gap: 10px;
    width: 225px;
    height: 50px;
    margin: 37px 83px;
    padding: 13px 35px;
    background: #087DBF;
    border-radius: 25px;
    justify-content: center;
}

.contact-massage-box a {
    font-size: 20px;
    color: white;
}

.contact-massage-box a img {
    padding-top: 2px;
}

/* profile section */

.profile-section {
    margin-top: 100px;
}

.person-info-box {
    position: relative;
    height: 460px;
    width: 100%;
    background-color: rgba(239, 239, 239, 1);
}

.just-img {
    position: absolute;
    bottom: 50%;
    max-width: 1640px;
}

.just-img img {
    width: 100%;
}

.person-stars-box {
    position: absolute;
    left: 20px;
    bottom: 50px;
}

.person-img {
    max-width: 234px;
    max-height: 234px;
}

.person-img img {
    width: 100%;
    height: 100%;
}

.star-levels {
    padding-left: 90px;
    padding-top: 15px;
    color: rgba(80, 80, 80, 0.5);
}

.stars {
    padding-left: 43px;
    padding-top: 15px;
}
 
.form-and-skills {
    position: absolute;
    left: 297px;
    bottom: 50px;
    max-width: 391px;
}

.form-and-skills h2 {
    font-size: 40px;
}

.form-and-skills p {
    font-size: 24px;
    line-height: 43px;
    color: rgba(80, 80, 80, 0.5);
}

.tab-skills-box {
    display: flex;
    gap: 15px;
    padding-top: 15px;
}

.tab-skills {
    min-width: 82px;
    height: 26px;
    padding: 4px 24px;
    background: #D9D9D9;
    border-radius: 13px;
}

.tab-skills  span {
    font-size: 16px;
    color: black;
}

.tab-skills:last-child {
    text-align: center;
}

.profile-contact-click {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 20px;
    bottom: 170px;
    background: #087DBF;
    border-radius: 25px;
    font-size: 20px;
    max-width: 225px;
    padding: 13px 20px;
    color: white;
}

.about-person-box {
    margin-top: 40px;
    padding: 30px 20px;
    border-radius: 0px 0px 45px 45px;
    background-color: rgba(239, 239, 239, 1);
}

.about-person-box h3 {
    font-size: 36px;
}

.about-person-box p {
    max-width: 1483px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 87px;
    font-size: 27px;
    line-height: 33px;
    color: rgba(80, 80, 80, 0.5);
}

/* profile-edit-section */

.profile-edit-section {
    margin-top: 140px;
}

.profile-edit-box-row {
    display: flex;
    gap: 30px;
    margin: 90px 50px;
    align-items: center;
}

.profile-edit-ul-box {
    display: flex;
    width: 1198px;
    justify-content: space-around;
    font-size: 24px;
    line-height: 36px;
    padding: 21px 0 21px 0;
    border-radius: 20px;
    background-color: rgba(239, 239, 239, 1);
}

.profile-edit-ul-box h6 {
    font-size: 24px;
    text-align: center;
}

.profile-edit-ul-box p {
    padding-top: 21px;
    text-align: center;
}

/* company section------------------ */

.company-section {
    margin-top: 100px;
}

.company-wrapper {
    position: relative;
}

.company-img {
    position: absolute;
    left: 20px;
    bottom: 122px;
}

.company-address {
    position: absolute;
    left: 274px;
    bottom: 130px;
}

.company-address h2 {
    font-size: 40px;
}

.company-address p {
    font-size: 24px;
    padding-top: 8px;
    color: rgba(80, 80, 80, 0.5);
}

.about-company-box {
    margin-top: 40px;
    padding: 20px 20px;
    background: #EFEFEF;
}

.about-company-box h3 {
    font-size: 32px;
}

.about-company-box p {
    padding-top: 8px;
    font-size: 27px;
    line-height: 40px;
    max-width: 1447.69px;
}

/* vacancies-section */

.vacancies-section h3 {
    font-size: 32px;
    margin-top: 33px;
}

table {
    width: 100%;
    padding-top: 28px;
    font-size: 24px;
    border-collapse: collapse;
    background: #EFEFEF;
}

table td{
    padding: 10px 0;
    border-collapse: collapse;
    text-align: center;
}

table tr {
    border: 0.5px solid black;
}

table tr td:first-child {
    text-align: left;
    padding-left: 10px;
}

table tr th {
    padding: 12px 0;
}

table tr:first-child {
    color: white;
    background: #087DBF;
    border: 0.5px solid #087DBF;
}

table tr:last-child {
    border-radius: 0px 0px 30px 30px;
}

/* media-------- */

@media (max-width: 1024px) {
    .sing-up-page-box {
        flex-direction: column;
    }
    .welcome-page-section {
        padding-left: 2%;
    }
    .welcome-left-content h1 {
        margin-top: 60px;
        font-size: 50px;
        line-height: 65px;
    }
    .welcome-left-content {
        margin-left: 3%;
    }
    .get-started-box-container {
        flex-direction: column;
        gap: 5px;
    }
    .get-started-box {
        padding-top: 50px;
    }
    /* .welcome-footer {
        position: absolute;
        bottom: 0;
    } */
    .footer-left-box {
        font-size: 10px;
    }
    .page-terms a{
        font-size: 8px;
    }
    .page-terms {
        gap: 3px;
    }
    .footer-ul-box img {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 775px) {
    .header-box {
        padding: 0 20px;
    }
    .header-box h2 {
        display: none;
    }
    .ul-box ul {
        flex-wrap: wrap;
        justify-content: none;
        align-items: center;
    }
    .ul-box a {
        font-size: 14px;
    }
}

